/****** 共通設定 ******/
body {
    font-size: 16px;
    line-height: 1.5;
    color: #2b2b2b;
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li {
    list-style-type: none;
}

/****** ヘッダー ******/
header {
    background-color: #133a60;
    margin-bottom: 200px;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding: 24px 0;
}

/****** アトラクションの紹介 ******/
h2 {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 24px;
}

#attraction {
    background-color: #3499dd;
    padding: 32px 0 48px;
}

#attraction ul {
    display: flex;
    justify-content: center;
    gap: 2%;
}

#attraction ul li {
    background-color: #fff;
    flex-basis: 30%;
    padding: 16px 24px 24px;
}

#attraction ul li dl dt {
    font-size: 20px;
    padding: 16px 0;
}

/****** フッター ******/
footer {
    background-color: #133a60;
    color: #fff;
    text-align: center;
    padding: 24px 0;
    margin-top: 200px;
}

/****** アトラクションの紹介 -レスポンシブ ******/

/* dlの開始位置の調整のため記述。
max-width: 1140pxの部分は調整してください。 */
@media (max-width: 1140px) {

    #attraction ul li dl {
        display: grid;
        grid-template-rows: 84px 1fr;
    }
}

/* あくまで例ですので、必要に応じて削除してください。 */
@media (max-width: 768px) {

    #attraction ul {
        flex-direction: column;
        row-gap: 32px;
        width: 75%;
        margin: 0 auto;
    }

    #attraction ul li dl {
        display: block;
    } 
}